<article class="podcast__container">

  <div class="podcast__container__ranking">
    <h1 class="podcast__container__ranking__title">{{ index }}</h1>
  </div>

  <div class="podcast__container__thumbnail">
    <img class="podcast__container__thumbnail__image" [src]=podcast.thumbnail alt="thumbnail">
  </div>

  <div class="podcast__container__info">

    <h1 class="podcast__container__info__title">{{ podcast.title }} </h1>

    <h4 class="podcast__container__info__publisher">by <span class="podcast__container__info__publisher__name">{{
        podcast.publisher }}</span>
    </h4>

    <h4 class="podcast__container__info__episodes">{{ podcast.total_episodes }} episodes</h4>

    <div class="podcast__container__info__links">
      <h4 class="podcast__container__info__links__link">
        <span class="icon itunes"></span><span class="text">itunes</span>
      </h4>
      <h4 class="podcast__container__info__links__link">
        <span class="icon web"></span><span class="text">web</span>
      </h4>
      <h4 class="podcast__container__info__links__link">
        <span class="icon rss"></span><span class="text">rss</span>
      </h4>
    </div>

  </div>

  <div class="podcast__container__description">
    <span>{{ podcast.description }}</span>
  </div>

</article>