<article class="podcast__container">

  <div class="podcast__container__ranking">
    <h1 class="podcast__container__ranking__title">{{ index }}</h1>
  </div>

  <div class="podcast__container__thumbnail">
    <img class="podcast__container__thumbnail__image" [src]=safe_thumbnail_url alt="thumbnail">
  </div>

  <div class="podcast__container__info">

    <h1 class="podcast__container__info__title">{{ podcast.title }} </h1>

    <h4 class="podcast__container__info__publisher">by <span class="podcast__container__info__publisher__name">{{
        podcast.publisher }}</span>
    </h4>

    <h4 class="podcast__container__info__episodes">{{ podcast.total_episodes }} episodes</h4>

    <div class="podcast__container__info__links">
      <a [href]=safe_itunes_url target="_blank" class="podcast__container__info__links__link">
        <span class="icon itunes"></span><span class="text">itunes</span>
      </a>
      <a [href]=safe_website_url target="_blank" class="podcast__container__info__links__link">
        <span class="icon web"></span><span class="text">web</span>
      </a>
      <link rel="alternate" type="application/rss+xml" title="RSS 2.0" [href]=safe_rss_url />
      <a type="application/rss+xml" [href]=safe_rss_url target="_blank" class="podcast__container__info__links__link">
        <span class="icon rss"></span><span class="text">rss</span>
      </a>
    </div>

  </div>

  <div class="podcast__container__description">
    <span>{{ podcast.description }}</span>
  </div>

</article>